<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<body>
    <div class="App">
        <form action="" method="POST"> 
            <input placeholder="Youtube video id" type="text" id="link" name="link"/>
           
        </form>
        <p> {{ link }} </p>
        <iframe src='https://www.youtube.com/embed/{{ link }}' frameborder='0' 
        allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in- 
        picture' allowfullscreen></iframe>
    </div>

    <footer>
        
    </footer>
    
</body>

</html>
